* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day03__datapeserta_wrapper {
  justify-content: center;
  align-items: center;
}

.day03__datapeserta_box {
  margin-top: 150px;
  background-color: azure;
  width: 650px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px black;
  border-radius: 20px;
  box-shadow: 5px 10px #888888;
}

.day03__datapeserta_title {
  text-align: center;
}

.day03__datapeserta_dec {
  padding-top: 20px;
  padding-left: 50px;
}
